.card {
    display: flex;
    min-height: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.25px;
}

.card h5,
p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}